* {
    margin: 0px;
    padding:0px;
  }
  a {
    color: #fff;
    text-decoration: none;

  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #401e67;
    height: 12vh;
    font-size: 18px; 
    position: static;
  }
 
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  table{
    display: block;
  }
  tr{
    border: 2px solid  #00c8ff ;
  }
td {
  border: 1px solid #00c8ff;

}
.tac {
    display: flex;
}

thead,
tfoot {
  background-color: #00c8ff;
  color: #fff;
}

    .myButton {
      background:linear-gradient(to bottom, #3b2775 5%, #7e5ec9 100%);
      background-color:#2a1a58;
      border-radius:28px;
      border:1px solid #10032e;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:8px 9px;
      text-decoration:none;
      text-shadow:0px 1px 0px #263b7e;
       
      }
      .myButton:hover {
        background:linear-gradient(to bottom, #4a1a80 5%,#282372 100%);
        background-color:#362885;
      }
      .botaott {
        position:relative;
        top:1px;
      }
      .trak{
        text-align: center
      }
      .ind{
       text-align: right;
      }
      .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
      }
      
      .ticket {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        margin: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      
      table {
        border-collapse: collapse;
        width: 50%;
        margin: auto;
       
      }
      th, td {
        border:#2a1a58;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color:#263b7e;
        color: white;
        
      }
      td:nth-child(odd) {
        background-color: #f2f2f2;
        display: list-item;
      }
      td:nth-child(even) {
        background-color: #e0e0e0;
      }